@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --primaryColor:#ffffff;
    --secondColor:#3D4AF9;
}


*, ul li a{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* header */


.header{
    margin-bottom: 100px;
    text-align: center;
}

.header__content{
    display: flex;
    justify-content: space-between;
}

.header__brand a img{
    width: 150px;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.navbar ul li a:hover{
    color: black;
}


/* carousel */


.img{
    margin-bottom: 100px;
}


.carousel-item img{
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

/* about */

.about{
    margin-bottom: 100px;
}

.about__content{
    text-align: center;
}
.about__content img{
    width: 200px;
}


.about__content h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.about__content p{
    font-size: 16px;
    font-weight: 300;
}


/* services */

.services{
    margin-bottom: 100px;
    text-align: center;
}

.services h2{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.services__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    text-align: center;
}

.services__group{
    background-color:grey;
    padding: 20px;
    border-radius: 10px;
}

.services__group img{
    border-radius:20px;
    margin-top: -50px;
    width: 100%;
    margin-bottom: 20px;
}

.services__group h3{
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: 600;
}

.services__group p{
    color:var(--primaryColor);
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/* testimony */

.testimony{
    margin-bottom: 200px;
    text-align: center;
}

.testimony h2{
    font-size: 25px;
}

.testimony .pa{
    color: var(--secondColor);
}

.testimony hr{
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: var(--secondColor);
    text-align: center;
}

.testimony__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    text-align: center;
}

.testimony__group{
    border: 1px solid var(--secondColor);
}

.testimony__group p{
    font-size: 14px;
    font-weight: 300;
    padding: 20px 20px 0 20px;
}

.testimony__information{
    margin-bottom: -125px;
}

.testimony__information h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.testimony__information p{
    color: var(--secondColor);
    font-size: 14px;
    font-weight: 500;
}

.testimony__information img{
    text-align: center;
    width:80px;
    height: 80px;
    border-radius: 50%;
}

.footer{
    padding: 50px 0;
    background-color:#808080;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__brand a img{
    width: 150px;
}

.footer__policy ul li{
    display: inline-block;
    margin: 0 20px;
}

.footer__policy ul li a{
    font-size: 15px;
    font-weight: 200;
    text-transform: capitalize;
    color: var(--primaryColor);
}

.footer__policy ul li a:hover{
    color:var(--secondColor);
}

.networks{
    margin: 0 20px;
}

.networks a{
    margin: 0 10px;
    color: var(--primaryColor);
    text-decoration: none;
    font-size: 20px;
}

.networks a:hover{
    color: var(--secondColor);
}





