@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --primaryColor:#ffffff;
    --secondColor:#3D4AF9;
}


*, ul li a{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* header */


.header{
    margin-bottom: 100px;
}

.header__content{
    display: flex;
    justify-content: space-between;
}

.header__brand a img{
    width: 150px;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}

.navbar ul li a:hover{
    color: black;
}


/* carousel */


.img{
    margin-bottom: 100px;
}


.carousel-item img{
    width: 600px;
    height: 600px;
    border-radius: 40px;
}

/* about */

.about{
    margin-bottom: 100px;
}

.about__content{
    text-align: center;
}
.about__content img{
    width: 200px;
}


.about__content h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.about__content p{
    font-size: 16px;
    font-weight: 300;
}




